@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

body {
	background-color: #555;
	font-family: 'Exo 2', Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

.container {
	margin-top: 5%;
	/* width: 100vw;
	height: 100vh; */
	display: flex;
	justify-content: space-around;
}

.panel {
	background-color: #333;
	display: flex;
	flex-direction: column;
	width: 18rem;
	height: 30rem;
	margin-top: 3rem;
	padding: 2rem .5rem;
	border: 1px solid #C5894066;
	border-radius: .5rem;
}

.logo {
	color: #ddd;
}
.panelRow {
	display: flex;
	flex-direction: row;
}

.display {
	padding: .3rem .5rem;
	margin: .5rem 0;
	background-color: #666;
	width: 17rem;
	height: 4rem;
	border: 1px solid green;
	border-radius: .5rem;
	text-align: right;
	font-size: 2.5rem;
}

#signs {
	float: left;
	font-size: 1.5rem;
}

.key {
	cursor: pointer;
	background-color: #444;
	color: #e0f5a5;
	margin: 2px;
	text-align: center;
	width: 4rem;
	height: 4rem;
	font-size: 3rem;
	border: 1px solid #C5894066;
	border-radius: .5rem;;
}

.key:hover {
	background-color: #666;
}
.big {
	margin: 2px;
	width: 8.3rem;
}
